<h1>Study Stripe</h1>

<p><a href="https://stripe.com/jp" target="_blank">Stripe</a>の調査のためのRailsアプリ。</p>
<p>
ユーザ認証もなく決済やカスタマーの一覧を表示したりしている。 <br>
また、CustomerやSource、ChargeなどのStripeの永続的リソースのIDをURLの一部に使ったり HTMLソースを見れば分かる形で実装しているが、それらはプロダクションレベルではNGだと思う。<br>
<br>
あくまで、StripeのAPIの使い方を確認するための習作なのでそういうことでよろしく。
</p>
