<h1>Subscription List</h1>
<table class="charges">
  <thead>
    <tr>
      <td>ID</td>
      <td>Customers</td>
      <td>現在の購読期間の開始時刻</td>
      <td>現在の購読期間の終了時刻</td>
    </tr>
  </thead>
  <tbody>
    <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= link_to subscription.id, subscription_path(subscription.id) %></td>
      <td><%= subscription.customer %></td>
      <td><%= Time.at(subscription.current_period_start) %></td>
      <td><%= Time.at(subscription.current_period_end) %></td>
      <td></td>
    </tr>
    <% end %>
  </tbody>
</table>
